{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site test Symfony</h1>
                <p>Bienvenue sur l'accueil</p>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">Coucou</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">C'est moi</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card h-100 col-5">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}