<h1>OFFRE DE PARTENARIAT</h1>
<p>Bonjour,</p>
<p>Voici une offre de partenariat à ne surtout pas rater :</p>
<p><a href="{{ absolute_url(path('edit_email')) }}">Pour plus d'informations cliquez sur ce lien</a></p>
<p>L'équipe commerciale de Google</p>